[report]
include =   ViniAudit/*.py
            ViniAudit/core/*.py
            ViniAudit/output/*.py
            ViniAudit/providers/aws/*.py
            ViniAudit/providers/aws/facade/*.py
            ViniAudit/providers/aws/resources/*.py
            ViniAudit/providers/azure/*.py
            ViniAudit/providers/azure/facade/*.py
            ViniAudit/providers/azure/resources/*.py
            ViniAudit/providers/gcp/*.py
            ViniAudit/providers/gcp/facade/*.py
            ViniAudit/providers/gcp/resources/*.py
