include LICENSE
include README.md
include requirements.txt
recursive-include ViniAudit/data *
recursive-include ViniAudit/output/data *
recursive-include ViniAudit/providers/aws *
recursive-include ViniAudit/providers/aws/rules *
recursive-include ViniAudit/providers/azure *
recursive-include ViniAudit/providers/azure/rules *
recursive-include ViniAudit/providers/gcp *
recursive-include ViniAudit/providers/gcp/rules *
recursive-include ViniAudit/providers/aliyun *
recursive-include ViniAudit/providers/aliyun/rules *
recursive-include ViniAudit/providers/oci *
recursive-include ViniAudit/providers/oci/rules *
